[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Blackmagic RAW Player
Exec=/app/BlackmagicRAWPlayer/BlackmagicRAWPlayer
Icon=com.blackmagic.Resolve.RAWPlayer
Terminal=false
MimeType=application/x-braw-clip;application/x-braw-sidecar
StartupNotify=true
Categories=AudioVideo

