[Desktop Entry]
Type=Application
Name=Davinci Resolve
Icon=com.blackmagic.Resolve
Exec=/app/bin/resolve.sh
Actions=GetLogs;PanelSetup;RAWPlayer;RAWSpeedTest;

[Desktop Action GetLogs]
Exec=/app/scripts/script.getlogs.v4
Name=Collect logs

[Desktop Action PanelSetup]
Exec="/app/DaVinci Resolve Panels Setup/DaVinci Resolve Panels Setup"
Name=Resolve Panels Setup

[Desktop Action RAWPlayer]
Exec=/app/BlackmagicRAWPlayer/BlackmagicRAWPlayer
Name=Blackmagic RAW Player

[Desktop Action RAWSpeedTest]
Exec=/app/BlackmagicRAWSpeedTest/BlackmagicRAWSpeedTest
Name=Blackmagic RAW Speed Test
