[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=DaVinci Resolve Panels Setup
Exec="/app/DaVinci Resolve Panels Setup/DaVinci Resolve Panels Setup"
Icon=com.blackmagic.Resolve.PanelSetup.png
Terminal=false
StartupNotify=true
Categories=AudioVideo

