[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=DaVinci Remote Monitoring
Exec="/app/bin/DaVinci Remote Monitoring"
Icon=com.blackmagic.Resolve.RemoteMonitoring
Terminal=false
StartupNotify=true
Categories=AudioVideo
